{% assign papers = site.bibliography %}

<div class="publications">
  {% for item in papers %}
    {% if item.entrytype == "article" %}
      <p>
        {% if item.url %}
          <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
        {% else %}
          {{ item.title }}
        {% endif %}
        ({{ item.year }})
        {% if item.abstract %}
          <br>{{ item.abstract }}
        {% endif %}
      </p>
    {% endif %}
  {% endfor %}
</div>

