{% assign papers = site.bibliography.entries | where_exp:"item","item.selected == 'true'" %}

<div class="publications">
  {% for item in papers %}
    <p>
      {% if item.url %}
        <!-- 标题链接到 URL -->
        <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
      {% else %}
        {{ item.title }}
      {% endif %}
      ({{ item.year }})
      {% if item.doi %}
        <br><a href="https://doi.org/{{ item.doi }}" target="_blank">DOI</a>
      {% endif %}
      {% if item.abstract %}
        <br>{{ item.abstract }}
      {% endif %}
    </p>
  {% endfor %}
</div>

