{% assign papers = site.bibliography | where_exp:"item","item.selected == true" %}

<div class="publications">
  {% for item in papers %}
    <p>
      <!-- 标题渲染 -->
      {% if item.url %}
        <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
      {% else %}
        {{ item.title }}
      {% endif %}
      ({{ item.year }})
      {% if item.abstract %}
        <br>{{ item.abstract }}
      {% endif %}
    </p>
  {% endfor %}
</div>
